@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.home {
  margin: 0 auto;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}

.home__cover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.55)),
    url(../../assets/background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  flex-grow: 1;
}

.home__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.home__title {
  margin: 120px 0 160px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.home__gradient {
  background: linear-gradient(to bottom, #fff, #f2c300);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
}

.home__buttons {
  display: flex;
  gap: 40px;
  margin-bottom: 0;
}

.home__button {
  padding: 12px 29px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  width: 155px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home__button:hover {
  border-color: #f2c300;
  color: #f2c300;
}
