@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.footer {
  padding: 0 60px;
  height: 60px;
  background-color: rgb(11, 11, 11);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.social-links {
  display: flex;
  gap: 20px;
}

.footer__link {
  height: 25px;
}

.footer__img {
  width: 25px;
}

.copyright {
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: flex-end;
    padding: 5px 15px;
    height: 75px;
  }

  .footer__img {
    width: 20px;
  }

  .social-links {
    margin-bottom: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    padding: 10px 15px;
    height: 50px;
  }
}
